[2018-11-21 15:09] missourian55 opened #2 "Dedicated Prometheus Endpoint"
Like `Spring boot 2` it would be nice to have a dedicated prometheus endpoint

spring boot2 config and output for reference

[code]
http://host:7999/actuator/promethus will result like

[code]

This feature request has been made with reference to this https://github.com/micronaut-projects/micronaut-core/issues/538

[2019-01-24 19:56] archerizer opened #1 "Prometheus metrics registry configuration is not respected"
### Description

With the following configuration for Prometheus metrics registry:

[code]

The `false` value for `descriptions` is not respected.

### Expected Behaviour

`PrometheusMeterRegistry.scrape()` should return metrics in Prometheus format without commented descriptions such as: `# TYPE jvm_classes_loaded gauge`.

### Actual Behaviour

`PrometheusMeterRegistry.scrape()` returns commented

[2019-02-07 08:22] #2 closed

[2019-02-07 08:32] graemerocher commented on #1
As far as I can see Micronaut is providing the correct configuration and `io.micrometer.prometheus.PrometheusConfig.descriptions()` is returning `false` as designed, so this must be a bug in Micrometer. Please report to https://github.com/micrometer-metrics/micrometer/issues

[2019-02-14 02:32] missourian55 opened #3 "Log4j2 and class not found error"
Trying to run a micronaut 1.0.4 application with log4j2

### Task List

- [ ] Steps to reproduce provided
**Declare log4j2 dependencies (I used 2.11.2) and place log4j2.xml in resources folder**
- [ ] Stacktrace (if present) provided
[code]
### Expected Behaviour

Works with log4j2

### Actual Behaviour

No Classdef found error

### Environment Information

- **Operating System**: mac os
- **Micro

[2019-02-14 03:45] jameskleeh commented on #3
https://github.com/micronaut-projects/micronaut-micrometer/pull/4

[2019-02-14 07:47] #3 closed

[2019-03-15 15:03] alexanderburley opened #9 "Add a tag to provide hostname on http.client.requests metrics"
For our monitoring purposes we would like to seperate our http.client.requests metrics by the hostname of each request. At the moment we can only get the uri for that http request.

Is this something that you would be open to including or is their another workaround for in including the hostname in the metric tags?

[2019-03-15 15:10] graemerocher commented on #9
Seems a reasonable request. PRs welcome!

[2019-04-02 04:38] Anand0583 opened #10 "Support for Influx"
Hello,

Does Micronaut Micrometer support integration with InfluxDB?

Thanks,
Anand.

[2019-04-08 16:44] dekstroza opened #11 "@Timed annotation does not work with Graal"
Micronaut version: 1.1.0.RC2
Graal: 1.0.0-rc14, installed with sdkman

Notes:
1. binders.jvm.enabled is set to false to work with Graal
2. Reproducer available at: https://github.com/dekstroza/sandbox.git branch working-mongonaut

To reproduce:
[code]

Having prometheus and metrics enabled on the following:

[code]
prometheus metrics is correctly exposed on /prometheus when running

[code]
but not

[2019-04-10 11:09] ilopmar commented on #11
@dekstroza Your project uses Mongo which is not necessary to reproduce the issue and complicated the setup. I've created a simple project with the minimum needed.
Please also keep in mind that micronaut-micrometer uses Micronaut 1.0.4 so all the improvements regarding bean introspection, enhanced graal support,... are not available for the project: https://github.com/micronaut-projects/micronaut-m

[2019-04-10 12:16] dekstroza commented on #11
@ilopmar thanks for looking into this, and yes, you are right, I should have created you a simpler reproducer, was too lazy and just used the current code I am working on anyways as an example.

I would be willing to lend a hand here, if there's anything I could do to help to move micronaut-micrometer towards 1.1.0.RC2.

[2019-04-10 12:32] graemerocher commented on #11
Micronaut Micrometer 1.1.0 has already been released so it would be in the next patch release. I am not sure exactly the problem yet, will investigate soon. You can maybe attempt to debug by adding some printlns to https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/java/io/micronaut/configuration/metrics/micrometer/intercept/TimedInterceptor.java to see

[2019-04-10 15:32] dekstroza commented on #11
@graemerocher Did bit of digging and I think this is where the problem is.
TimedInterceptor is getting called, but the stopTimed method is throwing exception which is swallowed insde the try/catch statement. If I add printStackTrace to it, this is the exception. Will check now what is causing it. Also, I have re-built from source micronaut-micrometer and updated it's dependencies towards RC2, fixe

[2019-04-10 15:42] dekstroza commented on #11
Class org.HdrHistogram.Histogram has this constructor, taking long, long, int in the version 2.1.9, which is the version used in the build `[INFO] Including org.hdrhistogram:HdrHistogram:jar:2.1.9 in the shaded jar.`
[code]
Running plane java -jar version with the same jdk does not produce this exception.

[2019-04-10 16:03] graemerocher commented on #11
Yes, you can probably resolve it by adding:

[code]

To your `Application` class which will trigger generating the GraalVM config

[2019-04-10 16:25] dekstroza commented on #11
Adding
`@TypeHint(value={org.HdrHistogram.Histogram.class,org.HdrHistogram.ConcurrentHistogram.class})`
solves the exception problem, and metrics is exposed as expected.

Would you like PR for the swallowed exception and/or upgrade of micronaut-micrometer dependencies to RC2?
Thanks for pointing me in the right direction.

[2019-04-10 16:26] graemerocher commented on #11
@dekstroza Great news! A PR would be great, we should add least log that even if it is at debug level.

After 1.1 is out we can include the `@TypeHint` in the core project then you will not need this in future

[2019-04-10 16:28] ilopmar commented on #11
We also need to include the `@TypeHint` for these: https://github.com/micronaut-graal-tests/micronaut-management-graal/blob/master/src/main/graal/reflect.json

[2019-04-13 09:29] chantrybjss commented on #10
I managed to get influx working just by including the meter registry. This is what I had.

`@Factory
public class InfluxConfiguration {
    @Property(name = "metrics.influx")
    private Map<String, String> influxProperties;

    @Bean
    @Primary
    @Singleton
    MeterRegistry meterRegistry() {
        return new InfluxMeterRegistry(
            new InfluxConfig(){
                @Override

[2019-04-18 09:44] dekstroza commented on #11
Would you like me to create PR for the `@TypeHint` part in the core project, now that 1.1.0 is out?

[2019-04-18 09:55] graemerocher commented on #11
Yes please!

[2019-04-18 21:15] dekstroza commented on #11
Should I add the ones from @ilopmar comment as well into this PR? Let me know, and I ll update the PR

[2019-04-18 21:19] graemerocher commented on #11
Yeah probably makes sense

[2019-04-18 21:36] dekstroza commented on #11
okidok, will update the pr

[2019-04-18 22:01] dekstroza commented on #11
Updated PR, now with all `@TypeHint`(s). Hopefully in the right place too.
https://github.com/micronaut-projects/micronaut-micrometer/pull/13
Build has failed on travis with Java 11 (I don't know how to re-trigger the build again)
[code]

[2019-04-23 06:33] #11 closed

[2019-05-09 05:33] PandaXass opened #15 "Support Micrometer Datadog api approach"
Hi,

Is it possible for Micronaut to support Micrometer Datadog api approach as https://micrometer.io/docs/registry/datadog#_direct_to_datadog_api_approach documented?

As I understand for now, Micronaut only integrates Micrometer using StatsD with Datadog flavor to ship the metrics when pushing the metrics to Datadog.

[2019-05-13 06:45] thiagolocatelli commented on #10
@graemerocher I can give it a try on this one since I already have a influxdb infra-structure at home so it would be easier to test. I can take a look once I am done with the vault config client.

[2019-05-13 07:28] graemerocher commented on #10
@thiagolocatelli thanks would be a great help!

[2019-05-13 07:30] thiagolocatelli commented on #10
@graemerocher ok, will work on it next week!

[2019-05-14 02:05] thiagolocatelli commented on #10
@graemerocher already have the code for influx, elastic and datadog implemented locally. Should each of these go into separate pull requests?

[2019-05-14 05:41] thiagolocatelli commented on #10
Pull Request sent.

[2019-05-15 08:35] graemerocher commented on #15
Addressed by https://github.com/micronaut-projects/micronaut-micrometer/pull/16

[2019-05-15 08:35] #15 closed

[2019-05-15 08:36] #10 closed

[2019-05-15 08:37] #1 closed

[2019-05-15 11:53] STRRL opened #17 "Bad content-type in response of /prometheus endpoint"
According to Prometheus [Exposition formats](https://prometheus.io/docs/instrumenting/exposition_formats/#text-based-format), `Content-Type` is expected to `text/plain; version=0.0.4`, but actual is `application/json`.

[2019-05-15 11:54] thiagolocatelli commented on #9
@graemerocher is the package io.micronaut.configuration.metrics.binder.web the best place for this change? I can take a look at it and maybe be able to provide with the enhancement. Thank you

[2019-05-15 12:15] graemerocher commented on #9
Yes seems to be

[2019-05-15 12:16] graemerocher commented on #17
Seems https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-registry-prometheus/src/main/java/io/micronaut/configuration/metrics/micrometer/prometheus/management/PrometheusEndpoint.java needs to declare it produces `text/plain` on the `@Read` method

[2019-05-16 01:34] STRRL commented on #17
Should append `version=0.0.4`. Still in hidden trouble.

[2019-05-16 10:38] #17 closed

[2019-05-23 04:25] damianw opened #22 "Server request metrics incorrectly report responses created by exception handlers"
Server request metrics (handled by `ServerRequestMeterRegistryFilter`) incorrectly reports responses as their default value (e.g. 200) whenever they instead end up being handled by an `ExceptionHandler`.

#### Steps to reproduce
Create a controller such as the following:
[code]

Even though a `GET` to `/hello` returns `500`, the `http.server.requests` metric incorrectly reports a 200.

[2019-05-23 05:03] damianw opened #23 "Client request metrics should include tag for host or service ID"
Currently, client request metrics (`http.client.requests`) only include `exception`, `uri`, `method`, and `status` tags. There is not enough information to associate these metrics with a particular external service, and `uri` by itself is not very useful without knowing the service. Ideally I would expect either a) `uri` to contain the host/service ID itself, or b) have a separate `host`/`service`

[2019-05-23 05:04] damianw commented on #23
Wow - only two other issues in the repository and I missed the other issue reporting this. Closing this one. 😊

[2019-05-23 05:04] #23 closed

[2019-05-23 05:22] damianw commented on #22
Hmm. Upon further investigation this appears to be caused by a more nuanced interaction with other filters. I'm going to close this issue and come up with a proper case to reproduce.

[2019-05-23 05:22] #22 closed

[2019-06-13 22:41] lightoze opened #25 "Meter registries should not be primary"
`CompositeMeterRegistry` should be the only primary bean.
Also related to https://github.com/micronaut-projects/micronaut-flyway/issues/17

[2019-06-17 07:51] dhoff1985 opened #26 "Feature Request: Http Client Channel Pool Metrics"
It would be nice to have visibility into what is happening in the channel pools of http clients. For example the number of channels checked out, pending acquires, rate/number of new connections created, timings on how long it took to open a new connection, etc.

[2019-07-02 07:09] #25 closed

[2019-07-02 07:11] graemerocher commented on #25
For reference https://github.com/micronaut-projects/micronaut-micrometer/commit/d7711c1c1feb7eac4146b0a104181355686d28fe

[2019-07-24 01:39] chochos opened #27 "Adding a statsd registry prevents app from starting in 1.1.4"
I have an app with a bunch of timers created using micrometer's `Metrics` static methods. When adding the statsd registry, the app won't start with 1.1.4, but works fine in 1.1.3.

The error:

[code]

Here's a simple example to reproduce the bug:

https://github.com/chochos/broken-micronaut-metrics

[2019-07-24 20:18] damianw opened #28 "Handled exceptions incorrectly report response code of 500"
For a situation like the following:
[code]

Even though a GET to `/` returns a status of `410`, it is always reported in the metrics as `500`.

[2019-08-01 08:35] graemerocher commented on #27
This was fixed a while back with https://github.com/micronaut-projects/micronaut-micrometer/commit/d7711c1c1feb7eac4146b0a104181355686d28fe

[2019-08-01 08:35] #27 closed

[2019-08-20 20:15] brandon-bot opened #37 "Micronaut submits wrong metric on 400 error"
I have an issue using micronaut w/micronaut-micrometer-prometheus. When a bad request is made that doesn't provide a value for a non-nullable Kotlin type, the HTTP response is a 400 error as expected, but the metric recorded by micrometer is a 500 error.

### Steps to Reproduce

1. Suppose the following example Kotlin code

[code]

[code]

2. Make a request with the wrong field name in the post bo

[2019-08-30 14:38] luckyswede opened #38 "Proposal: Disable uri tag for low level http client metrics by default"
The uri tag in http.client.requests metrics works well for declarative clients since they use the template'd version of the path, however for the low-level client the actual path value is used.
This can cause out-of-memory errors if a lot of different urls are called, since each unique path creates a unique set of tags.

One possibility would be to simply discard the uri tag unless the HttpAttribu

[2019-09-12 08:59] luckyswede opened #39 "No http.server.requests metric with status=401 is reported"
When auth fails on secured endpoints there are no metrics with status=401 reported.

Micronaut 1.2.1
See https://github.com/luckyswede/micronaut-metricstest

[2019-09-12 09:01] luckyswede opened #40 "Metric with status=500 reported due to 404 in client"
When a declarative client gets a 404 there is a metric with status=500 reported.

Micronaut 1.2.1
See https://github.com/luckyswede/micronaut-metricstest

[2019-09-29 11:49] JamieCressey opened #41 "micronaut-micrometer-registry-cloudwatch not available in 1.2.2 BOM"
I have created a new project using `mn create-app test-app --build maven --features aws-api-gateway --features micrometer-cloudwatch --features security-jwt` however when I come to build the project using `mvn clean package` I get the following error;

[code]

This is resolved by setting the version on `micronaut-micrometer-registry-cloudwatch` to `1.2.0`;

[code]

[2019-10-17 20:48] arudge commented on #37
Here is a project that documents the same issue when using `@Valid` and `ConstraintViolationException` is thrown.
https://github.com/arudge/validation-exception-metrics/blob/master/src/test/groovy/validation/exception/metrics/BadrequestControllerSpec.groovy
Looks like it's assigned all ready, but I'd be happy to pitch in on the bug fix and/or validating a fix.

[2019-10-18 21:44] oscarfh commented on #39
@graemerocher I am having the same issue and I would like to create a Pull Request. My suggested approach would be to be able to set the order (using application.yaml configuration) so the user can set the filter to be ordered before the security filter.
Would that be acceptable?

[2019-10-19 14:57] graemerocher commented on #39
That is one approach and may do. I think the security filter should expose a constant that defines the order. Also maybe we need something like IntercepterPhase for filters. Thoughts @jameskleeh ?

[2019-10-21 14:27] oscarfh commented on #39
The security filter does not expose the order, by one is able to set by creating an SecurityFilterOrderProvider, as it can be [seen here](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/filters/SecurityFilter.java#L85).

This is one alternative and is more flexible than the property, in case one wants to decide something dynamically

[2019-11-04 14:30] oscarfh commented on #39
@graemerocher Do you have some feedback on the PR?

[2019-11-04 14:32] jameskleeh commented on #39
@oscarfh I'll be reviewing this today

[2019-11-04 21:13] jameskleeh commented on #39
@oscarfh Please try with the latest 1.2.x security snapshot. The issue should be resolved

[2019-11-05 19:07] oscarfh commented on #39
Ok, I will try that tomorrow, thanks

[2019-11-05 19:48] jameskleeh commented on #39
@oscarfh So currently the session, metrics, and security filter are all running on order 0. That means that the order is non deterministic, however both the session and metrics filter must run before. We currently have in place the mechanism to move the filter forward to 100 if there is no other filter order bean and the session configuration is enabled.

Changing the filter order is required in o

[2019-11-05 20:32] oscarfh commented on #39
Ok, so order==100 will be executed before order==0.
I thought it was the other way around and got, so the logic was somehow "backwards" in my head. Thanks for the explanation.

[2019-11-05 20:34] jameskleeh commented on #39
@oscarfh No your original thinking is correct. The highest precedence is the lowest number

[2019-11-05 20:35] oscarfh commented on #39
Yes, I was just reviewing that and notice that (therefore deleted the comment in the hope you didn't need to read it).
Got it. Thanks for the explanation.

[2019-12-11 15:38] #39 closed

[2019-12-30 11:00] JamieCressey opened #55 "micrometer-cloudwatch feature fails to build as native image"
# Problem
The AWS v2 SDK is failing to build into a native image, and is being included (or the CloudWatch subsection is) as part of the micrometer-cloudwatch feature.

[code]

# Steps to Reproduce
- `mn create-app test --features aws-api-gateway-graal --features micrometer-cloudwatch`
- `cd test`
- `./docker-build.sh`

[code]

[2020-02-06 11:49] mkfuri opened #56 "Stackdriver: failed to send metrics to Stackdriver"
I often have an error when StackdriverMeterRegistry  tries to send metrics to Google Stackdriver

I'm using mn version **1.3.0**.

The exception's message is **[stackdriver-metrics-publisher] WARN  i.m.s.StackdriverMeterRegistry - failed to send metrics to Stackdriver**

The exception's stack is
[code]

The request that I'm sending is

[code]

[2020-03-12 08:17] ilopmar opened #62 "Micronaut 2.0.0 doesn't work with metrics"
Micronaut 2.0 doesn't work with Metrics.

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-management-graal`
- `cd micronaut-management-graal`
- `./gradlew run`

### Expected Behaviour

The application should start.

### Actual Behaviour

[code]

### Environment Information

- **Operating System**: Linux Mint
- **Micronaut Version:** 2.0.0.BUILD-SNAPSHOT
- **

[2020-03-13 13:28] ctoestreich opened #61 "Enhance metrics to include missing tags"
Some of the metrics, like records consumed total, are missing context (tags) like topic.

The same metric out of boot looks like this:

<img width="511" alt="Screen Shot 2020-03-13 at 8 25 41 AM" src="https://user-images.githubusercontent.com/691357/76625109-93131f80-6504-11ea-8127-a6eacf30c2fa.png">

[2020-03-13 13:34] ctoestreich commented on #61
Closing and moving to kafka repo where this was meant to be created

[2020-03-13 13:34] #61 closed

[2020-03-16 11:29] graemerocher commented on #56
This is beyond the scope of the library and needs to reported here https://github.com/micrometer-metrics/micrometer/issues

[2020-03-16 11:29] #56 closed

[2020-03-16 13:43] #62 closed

[2020-03-16 22:53] mkfuri commented on #56
Thanks @graemerocher. There are a similar issue https://github.com/micrometer-metrics/micrometer/issues/1268

[2020-03-23 08:35] SuperShalabi opened #63 "graphite tags-as-prefix is not passed to registry"
In `GraphiteMeterRegistryFactory`, a meter registry is created by passing a lambda expression from export properties.

[code]

This approach works for all `GraphiteConfig` properties except for tagsAsPrefix which inside the interface has a default behavior of returning an empty array - _Always_

[code]

Not sure why it was implemented like this in micrometer, but probably to avoid String to array

[2020-05-15 15:34] stottpaul opened #70 "The @Timed annotation is not timing kotlin suspend functions correctly"
Since replacing rxJava with kotlin suspend functions in our controllers, the @Timed annotation (applied to the controller method) is measuring requests as completing in < 1ms, whereas the wall time of the method is nearer 100ms.   nb. Usage is with histogram = true.

[2020-05-20 16:01] #9 closed

[2020-05-20 17:14] #63 closed

[2020-06-05 19:02] parisapo opened #81 "Micrometer-Prometheus module depends on micronaut-cache-caffeine"
### Steps to Reproduce

1. Go to `https://micronaut.io/launch/`
2.  Select Application Type 'Application
3. Select Java 11
4. Select Gradle
6. Select JUnit
7. Select Micronaut Version 2.0.0.M3  (currently availble
8. Add feature Micrometer -Prometheus
9. Generate the demo.zip-> download-> unzip-> `./gradlew run`
### Expected Behaviour
The application is expected to start.

### Actual Behaviour
Exc

[2020-06-07 13:56] #81 closed

[2020-06-07 14:31] parisapo commented on #81
many thanks

[2020-06-13 07:40] graemerocher opened #85 "Publish a BOM"
Project should publish a Maven BOM

[2020-06-14 09:30] #70 closed

[2020-07-20 14:00] fedotxxl opened #114 "Random "There is already an existing meter named" exception after adding "meterRegistry.config().commonTags""
Hello. I use following modules:
[code]

According to [this](https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/) documentation I created MeterRegistryConfigurer to add common tag:

[code]

After that metrics behavior becomes pretty unpredictable. After application restart, the following may occur:

1. Metrics returned by PrometheusMeterRegistry may contain application tag
2. Me

[2020-07-20 14:22] fedotxxl commented on #114
I was able to add common tag by MeterFilter:

[code]

But still:
1. Your documentation says that it can be added by MeterRegistryConfigurer
2. It leads to unpredictable behaviour

[2020-07-22 18:31] arudge commented on #37
Going to  micronaut version `2.0.0` with micrometer version `1.2.0` and this is no longer an issue.
I think this can be closed now @graemerocher .

[2020-07-22 18:38] #37 closed

[2020-07-23 08:06] stottpaul opened #116 "http.server.requests TOTAL_TIME is incorrect for code running in kotlin coroutines using withContext"
### Steps to Reproduce

- Clone https://github.com/stottpaul/mn_server_time_issue_coroutines
- Run ./gradlew test
- Observe the failed test, i.e TOTAL_TIME should be greater than 5 seconds, as opposed to less than half a second.

### Expected Behaviour

http.server.requests TOTAL_TIME should accumulate latency correctly for coroutines when run withContext

### Actual Behaviour

http.server.request

[2020-08-05 14:39] ilopmar commented on #55
If you create a new application (tested with Micronaut 2.0.1):

[code]

And then add `--report-unsupported-elements-at-runtime` to `native-image.properties` it works. The usage of that flag is discouraged so I've opened and issue on graalvm issue tracker: https://github.com/oracle/graal/issues/2736

[2020-08-25 09:50] ilopmar opened #134 "Update Netty version once it's updated on core"
Once micronaut-core is updated to Netty 4.1.52 (or another one), revert this change https://github.com/micronaut-projects/micronaut-micrometer/pull/133 and update version in this module.

[2020-08-25 10:26] ilopmar opened #136 "Add link to Release history from Micronaut Micrometer docs"
It should point to https://github.com/micronaut-projects/micronaut-micrometer/releases

[2020-08-25 15:51] #136 closed

[2020-09-16 11:24] markjfisher commented on #70
Hi @graemerocher I see this appears to be fixed in micronaut-micrometer, but that hasn't had a release since March. Is there somewhere I can go to find out when the scheduled releases are due for other sub-projects? I've been keenly watching the main micronaut releases (well, once a week at least :D ) to see if this bug is included in there, but it doesn't appear as though it has yet, particularly

[2020-09-16 11:46] ilopmar commented on #70
@markjfisher We have released a few versions after 1.3.1, please check: https://github.com/micronaut-projects/micronaut-micrometer/releases

[2020-09-16 12:24] markjfisher commented on #70
I'm having a bad day.
I hadn't noticed the path has changed to io.micronaut.micrometer, so was looking at the older version.

[2020-09-16 13:16] ilopmar commented on #70
No worries

[2020-09-17 13:21] jaksah commented on #28
We are experiencing this issue in 2.0.2 as well. I created a [sample project to reproduce this](https://github.com/jaksah/micronaut-error-metrics) (before I found this issue) if it would be of any help. Any ideas of a workaround?

[2020-09-17 15:50] euler1337 commented on #28
Inspired by the sample project @jaksah provided I created a [sample project](https://github.com/euler1337/micronaut-metrics-issue) to reproduce a similar in 2.0.2.

I noted that without the `micronaut-security` module (i.e. expecting the controller to return a 404 for a non existing route instead of a 401) the test passes as metrics are reported on 404.

[2020-09-18 09:52] stottpaul commented on #116
Just tested this with Micronaut 2.0.1 and the the tests are now passing.

[2020-09-18 09:52] #116 closed

[2020-09-21 14:31] euler1337 commented on #28
After looking a bit more into this, it seems like the issue is not new in 2.0. However in 2.0 micronaut-security introduces the new [rejection handler ](https://micronaut-projects.github.io/micronaut-security/latest/guide/#_rejection_handler) and the `AuthorizationException`. It seems to me like this new model makes this issue more visible than in previous releases, since the `AuthorizationExcepti

[2020-09-22 13:02] brunovale91 commented on #28
I believe there's a workaround for this issue, the WebMetricsPublisher checks if the exception is instance of HttpResponseProvider and then uses the status code defined on the exception.
`class NotFoundException(message: String) :
    RuntimeException(message), HttpResponseProvider {
    /**
     * Required for micrometer registry 404 metric
     */
    override fun getResponse(): HttpResponse<*>

[2020-09-24 08:40] semistone opened #155 "micronaut-micrometer-jmx group name incorrect"
`You can include the Jmx reporter via io.micronaut.configuration:micronaut-micrometer-jmx:${micronaut.version}`
need to change to
`You can include the Jmx reporter via io.micronaut.micrometer:micronaut-micrometer-jmx:${micronaut.version}`

in document
https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/index.html

[2020-09-24 14:59] euler1337 commented on #28
Thanks @brunovale91. I guess this workaround will do as long as you define your own exception and throw it from the application. However, im the case i describe above the `AuthorizationException` in micronaut-security does not implement `HttpResponseProvider`

[2020-09-29 07:08] AdityaBhansali1 commented on #28
In our case, even after doing the change suggested above, we still face the problem because our endpoint returns a CompletableFuture and hence our CustomException which implements HttpResponseProvider is wrapped inside a CompletionException.

The above use case causes the if condition at this [line ](https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/ja

[2020-09-29 10:54] graemerocher commented on #28
Seems like me the solution is to make https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/java/io/micronaut/configuration/metrics/binder/web/WebMetricsPublisher.java#L330 extensible so that users can plugin handling of when and how they want exception metrics reported.

Would that provide a solution?

[2020-09-29 16:53] jameskleeh commented on #28
@AdityaBhansali1 @euler1337 @brunovale91 @jaksah @damianw I've created a PR which I believe resolves this issue. https://github.com/micronaut-projects/micronaut-micrometer/pull/156. Please check out that branch locally and verify that resolves the problem.

[2020-09-29 20:08] #155 closed

[2020-09-30 13:17] #28 closed

[2020-10-07 15:52] AdityaBhansali1 commented on #28
@jameskleeh : We upgraded micronaut to 2.1.0 and tried this out. We see the metrics being sent with proper status code ( 404 in my case ) now!

However, it looks like the metrics "uri" tag is coming up improperly as "NOT_FOUND" instead of the service uri. Is this a bug, or something consumers have to do additionally in code to handle?

[2020-10-07 15:55] jameskleeh commented on #28
@AdityaBhansali1 Hard to say. Please create a separate issue with an example app that reproduces the issue and we'll take a look

[2020-10-07 22:36] saihegde opened #159 "Using the ExecuteOn=ThreadExecutors.IO on endpoints breaks new relic instrumentation"
I have a REST Controller which collects data from a bunch of rest endpoints...
New Relic instrumentation for the external calls works when I let micronaut determine the thread pool automagically.. but this does not work great always as 1/10 calls will show some latency in the responses being returned. Explicitly setting it to the ThreadExecutors.IO pool fixed the latency issue but broke the new re

[2020-10-08 06:27] graemerocher commented on #159
Provide an example with steps to reproduce, hard to say if the bug is in the New Relic instrumentation code (which I am unaware of) or here

[2020-10-08 10:26] AdityaBhansali1 commented on #28
@jameskleeh : We debugged this a little and found that the uri is being set to "NOT_FOUND" [here](https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/java/io/micronaut/configuration/metrics/binder/web/WebMetricsPublisher.java#L263).

Is this the expected metrics behavior for micronaut metrics with status 404?

In our project we are using this metric to s

[2020-10-08 11:00] graemerocher commented on #28
That does seem odd behaviour. @ctoestreich can you elaborate on this why the URI tag is set to NOT_FOUND here?

[2020-10-08 13:06] ctoestreich commented on #28
Looking at it I think it needs to be simplified. Only when the path is null should it NOT just sanitize and return the path.

[2020-10-08 14:06] graemerocher commented on #28
@AdityaBhansali1 can you report a separate issue to track this?

[2020-10-08 15:11] AdityaBhansali1 opened #160 "uri tag in metrics set as NOT_FOUND instead of the actual service uri when response status is 404"
Raising this issue as a follow up from the discussion here - https://github.com/micronaut-projects/micronaut-micrometer/issues/28#issuecomment-705479671

When a service responds with 404, we see the status tag in metric set correctly to 404 but the uri tag is set as hardcoded "NOT_FOUND" as seen [here](https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/

[2020-10-08 15:12] AdityaBhansali1 commented on #28
Thank you all for taking a look into this! As per suggestion I have raised a new issue - https://github.com/micronaut-projects/micronaut-micrometer/issues/160

[2020-10-08 16:55] saihegde commented on #159
Maybe we can start with something simpler.

Steps to recreate -

Start with a simple micronaut project

pom.xml

[code]

City.java
[code]

[code]

If I use the ExecuteOn annotation, New Relic Instrumentation breaks. All calls show as NettyDispatcher as opposed to the endpoint. If I do not use the ExecuteOn annotation, the response times are not consistent. You can run the same thing over and over

[2020-10-13 14:50] drmaas opened #164 "Metric tags explosion when using low-level http client"
When enabling metrics and using the low-level http client, the `http.client.requests` metric contains a unique tag for each unique url called. There is currently not a nice way to tell the low level client use use a `UriTemplate`.

I was able to work around this doing this: https://github.com/drmaas/micronaut-metics-client-template/blob/main/src/main/java/com/example/TestClient.java#L23

As a more

[2020-10-27 14:06] charlie-harvey commented on #55
I bumped into this because I need aws-sdk-v2 explicitly. I am reading from and writhing to a bucket. Thanks for the workaround.

[2020-11-03 13:09] 22dasi1bwi opened #170 "Custom `MeterRegistryConfigurers` lead to ClassCastException"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Checkout https://github.com/22dasi1bwi/micrometer-confgurer
2. Run the tests
3. See that `MicrometerConfigurerTest` is failing because the application could not start

[2020-12-02 09:47] alvarosanchez commented on #55
This is working as of Micronaut 2.2

[2020-12-02 09:47] #55 closed

[2020-12-02 10:05] alvarosanchez commented on #134
Can we not remove the `nettyVersion` property from here and use the one from micronaut-core?

`micronaut-bom` imports `netty-bom`, which should resolve all `io.netty` dependencies.

[2020-12-02 10:08] alvarosanchez commented on #164
Isn't this a duplicate of #38 ?

[2020-12-02 10:12] ilopmar commented on #134
Probably. I think the problem was that we were not able to upgrade Netty in core (because of some regressions they had in different versions) and we wanted to make sure we were using the same version here. If we don't pin the version here dependabot/dependency-upgrade will upgrade the version here. Then, in users' apps with micrometer the new netty version would be used, leading to issues.

[2020-12-02 10:12] ilopmar commented on #134
Btw, at this moment it's safe to upgrade to the same one using in core (4.1.54 I believe)

[2020-12-02 10:13] alvarosanchez commented on #134
Right. Dependabot will attempt to upgrade the version if you have one defined explicitly. If you omit it and let it be resolved from the BOM, it should do nothing.

Will try that approach

[2020-12-02 15:31] #134 closed

[2020-12-02 18:54] luckyswede opened #189 "URI_TEMPLATE not set for pre-flight requests"
Hi!
`OPTIONS`-requests do not get `URI_TEMPLATE` set which results in an ever growing list of `uri` tags for `http.server.request` metrics and may cause OOM in the end for routes with dynamic path segments.
The reason is that `URI_TEMPLATE` is set in `RoutingInBoundHandler` which runs after the `CorsFilter`.

Micronaut 2.0.3

[2020-12-02 18:55] jameskleeh commented on #189
Transferred this to micrometer because I don't think we can do anything about this in core. Perhaps a config option or something can be added to ignore OPTIONS

[2020-12-13 08:46] szhaoyu opened #194 "application which built with native-image startups error caused by micrometer"
### Steps to Reproduce

1. mn create-app -f micrometer-prometheus -b maven
2. mvn clean package
3. native-image com.xxx.Appliction -cp target/xxx**.jar
4. ./xxx startup

### Expected Behaviour
native application startup success

### Actual Behaviour
fail with error.
15:36:44.541 [main] ERROR io.micronaut.runtime.Micronaut - Error starting Micronaut server: Bean definition [javax.sql.DataSource] co

[2020-12-13 09:30] graemerocher commented on #194
Please upgrade to 2.2.1 to resolve this issue

[2020-12-14 13:43] szhaoyu commented on #194
Yes, it worked. Thanks.

[2020-12-14 13:43] #194 closed

[2021-01-01 19:06] drmaas commented on #164
Closing as duplicate of #38

[2021-01-01 19:06] #164 closed

[2021-01-29 19:45] tburch opened #214 "DatadogMeterRegistry isn't closed"
I noticed this with the `DatadogMeterRegistry`, but it might apply to the `CompositeMeterRegistry`. The registry that is built by the factory doesn't have its `close` method hooked up, so if you have a short-lived (less than the `step` configuration) application that you want metrics for, they are not published.

A workaround is to manually close the `DatadogMeterRegistry` with something like this

[2021-02-02 14:00] #85 closed

[2021-02-02 18:41] alvarosanchez commented on #214
I was planning to validate it myself. If you already did, and are in a position to send a PR, that would be great. Go ahead.

[2021-02-02 21:43] tburch commented on #214
It looks like annotating `MeterRegistryFactory#compositeMeterRegistry` with `@Bean(preDestroy = "close")` should do the trick, but I'm struggling to write a test that verifies it. This is likely better than having to annotate all registry factories.

[2021-02-03 09:00] #214 closed

[2021-02-03 09:01] alvarosanchez commented on #214
`CompositeMeterRegistry` has a `close` method, so I think it is the right thing to do even if there were no bugs.

Thanks for the contribution!

[2021-02-04 11:48] alvarosanchez commented on #114
I have been able to reproduce that not all metrics may have the common tag. However, I've never got an exception. Would you mind sharing a sample app?

[2021-02-04 11:55] alvarosanchez commented on #114
This seems to work:

[code]

[2021-02-05 12:37] alvarosanchez commented on #170
This behaviour was introduced by this commit: https://github.com/micronaut-projects/micronaut-micrometer/commit/453d0a1

@jameskleeh why passing always a `CompositeMeterRegistry`, which in addition to that, is empty at that point (ie: no registries)? How are configurers be supposed to implement `supports` without knowing whether their registry is enabled?

[2021-02-05 17:03] jameskleeh commented on #170
@alvarosanchez I'm not sure - that change was done a long time ago. Ping me tomorrow and we can discuss

[2021-02-05 17:05] alvarosanchez commented on #170
s/tomorrow/Monday/ 😅

[2021-02-08 13:41] alvarosanchez opened #225 "Ensure `io.micronaut.micrometer` group ID is used everywhere"
There are some places in the docs still referring to the old `io.micronaut.configuration` group ID.

[2021-02-18 10:37] #170 closed

[2021-03-26 10:03] meredrica opened #243 "race condition when adding common tags to inbuilt metrics"
We have a common library (simple maven JAR) that gets added to every micronaut.
The library adds the pod name and the app name to each metric via common tags - so we can distinguish them.
We observed that sometimes the tags don't get added to every metric until the pod is restarted, so we are confident it's a race condition.
Specifically the ``process`` and ``system`` values seem to be affected -

[2021-03-26 10:11] meredrica commented on #243
Here is an older incarnation of the configurer in case we broke something since then.
[code]

[2021-05-04 19:47] brianwyka opened #257 "Shaded Netty within Micrometer Statsd Causes Native Image Build Failure"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-05-04 19:47] brianwyka commented on #257
@ilopmar, seems like your area 🥇

[2021-05-12 10:42] JouperCoding commented on #243
Hello,

I see the same behavior when trying to disable some meters I don't wish to leverage. For example i may only want 2 jvm meters and 1 executor meter and then filter out the rest.

By creating a simple micronaut project 2.5.1 and including this
[code]

And then creating a registry configurer which denies which meters to register based on a white list as follows

[code]

This leads to inconsis

[2021-05-12 10:46] graemerocher commented on #243
Seems like an ordering issue, have you tried implementing `Ordered` in your configurer and using highest priority?

[2021-05-12 10:56] JouperCoding commented on #243
@graemerocher I'm assuming you mean using the @Order annotation, if so I just tested it with the following results.

1. @Order on class level prio -1 = all meters are removed
2. @Order on class level prio 99999 = all meter are removed
3. @Order on configure method prio -1 = only executor meters are removed
4. @Order on configure method prio 99999  = all meter are removed

Let me know if you need m

[2021-05-12 11:19] JouperCoding commented on #243
Adding @Order seems to solve the common tag problem. Was able to verify that all my meters had the common tags now. As well as what the initial issue described. The process.uptime will get the common tag if you apply

[code]

@graemerocher Perhaps this should be mentioned in the Micronaut + Micrometer documentation?

[2021-05-12 11:20] graemerocher commented on #243
Agreed, would you like to send a PR?

[2021-05-12 11:22] JouperCoding commented on #243
@graemerocher Sure, I can write something up and create a PR for you!

[2021-05-25 09:14] ckosmowski opened #263 "Support Micrometer 1.7.0+ and InfluxDB 2.0"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [-] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Try to use a micronaut project with an influxdb 2.0 Database

### Expected Behaviour

- New Configuration options for authentication are present (Auth token Header)
-

[2021-06-17 07:53] ilopmar opened #267 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-17 13:36] #243 closed

[2021-07-05 07:41] #267 closed

[2021-07-09 16:30] #225 closed

[2021-08-02 06:56] Aditya010 opened #279 "NOT RECEIVING ANY BUCKETS IN PROMETHEUS METRICS"
### Feature description

I want to analyze P99-metrics for my Micronaut project but there is are no buckets for that as we are getting in Spring Framework. Is there any other way for that or am I missing something?

[2021-08-02 07:50] ilopmar commented on #279
Please share a sample application that reproduces the problem.

[2021-08-02 11:14] Aditya010 commented on #279
Hey, There is no problem, Actually, I want to explore P99-metric via Micronaut and the metrics provided in micronaut via Prometheus registry are limited. If we receive buckets like that of Spring that would be great.
Ref: https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/#metricsAndReportersPrometheus
Is there any way get such metrics?

[2021-08-02 11:20] ilopmar commented on #279
Please ask usage questions in our Gitter channel: https://gitter.im/micronautfw

[2021-08-02 11:20] #279 closed

[2021-08-09 22:46] cemo opened #280 "exclude urls"
### Issue description

I would like to exclude some of urls such as healthcheck or prometheus endpoints. These urls are creating noisy metrics. Is it possible to exclude them?

[2021-08-10 21:25] cemo opened #281 "ByteBufAllocatorMetricsBinder is causing exceptions"
### Expected Behavior

Proper metrics.

### Actual Behaviour

[code]

[code]
when enabled byte-buffers it is causing exception.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.4.0

[2021-08-23 23:46] eladidan opened #288 "http metrics are reported as summary in prometheus, which is incompatible with distributed applications"
### Expected Behavior

`http.server[client].requests` metric should have meaningful percentiles in prometheus.
Since latency is usually monitored in terms of percentiles and not averages, then a `summary` metric that calculates those quantiles on the client, is useless for a distributed application where you may want to calculate that value over in aggregate over different dimensions.

### Actual

[2021-08-23 23:46] eladidan commented on #288
Happy to open a PR for this if you support the change

[2021-08-30 09:27] graemerocher commented on #288
PRs welcome of course

[2021-08-30 17:30] eladidan commented on #288
happy to open it but would you support this change? Would you want it to be enabled by default or configurable via a setting?

[2021-08-31 07:33] graemerocher commented on #288
it would need to be configurable in order to not break applications that prefer the existing behaviour

[2021-09-02 07:27] eutkin commented on #26
Yes, this functionality is very much needed. We are seeing performance issues related to connection pooling

[2021-09-02 11:07] satyajit-oyo opened #289 "P99 - Micronaut Prometheus."
### Issue description

The prometheus registry for Micronaut Micrometer doesn't have _**http_server_requests_seconds_bucket**_ metric which is used calculate percentiles P99 or P95 for monitoring the latencies of the application.

Is there any work around to get such percentiles?

[2021-09-02 11:13] #289 closed

[2021-10-26 18:14] exmoria opened #307 "Stackdriver meter registry gax.grpc exception"
### Expected Behavior

The application should not throw an exception when using the micrometer stackdriver exporter alongside with the `micronaut-gcp-tracing` dependency.

[code]

### Actual Behaviour

The application throws an exception on startup when both dependencies are included.

I have been able to sidestep this issue by including the latest version of the `gax-grpc` dependency in my pom.xm

[2021-11-04 16:43] markjfisher opened #309 "Cannot use MicronautCaffeineCacheMetrics.monitor if there is caches section in application.yml"
### Expected Behavior

Upgrading an existing application from 2.x to 3.x should not fail when using both MicronautCaffeineCacheMetrics.monitor and a caches section (with cacheable functions in the application).

### Actual Behaviour

Application fails to startup with error message:

[code]

### Steps To Reproduce

Download the example application provided, and run it.

Removing the "caches" entrie

[2021-11-06 17:55] devgkz opened #310 "Additional metrics tags like Common tags in Actuator"
### Feature description

Hello!
I need ability to configure additional metrics tags like Common tags in Spring Boot Actuator.
Commons tags are applied to all meters and can be configured as shown in the following example:
[code]
See Actuator docs https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html#actuator.metrics.customizing.common-tags

This feature is planned for `micro

[2021-11-18 18:28] marek-stanulewicz opened #315 "Change ServerRequestMeterRegistryFilter to use Reactor flow instead of generic publisher"
### Expected Behavior

Method doFilter() should return Flux<MutableHttpResponse<?>> instead of WebMetricsPublisher.
Micronaut is using Reactor and this gives the opportunity to use Reactor Context, which could be populated in a filter. This works fine until we have metrics for requests, because WebMetricsPublisher breaks Reactor flow and Reactor Context cannot get through from filter to the rest o

[2021-11-19 14:53] morten-andersen opened #317 "micronaut.metrics.binders.jdbc.enabled not working for HikariCP"
### Expected Behavior

Enabling jdbc metrics as documented here [Metrics Concepts](https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/#metricsConcepts) does not lead to any `hikaricp.*` metrics being exposed on the prometheus endpoint.

### Actual Behaviour

No  `hikaricp.*` metrics are found on the prometheus endpoint

### Steps To Reproduce

Running with the following depende

[2021-11-20 05:45] jameskleeh commented on #263
This was done with the 4.0.0 release

[2021-11-20 05:45] #263 closed

[2021-11-20 05:50] #309 closed

[2021-11-20 05:51] #315 closed

[2021-12-30 12:40] rys-gw-wal opened #337 "micrometer RxJava interceptors"
### Expected Behavior

@TimedInterceptor, @CountedInterceptor process  RXJava.Single as Reactive.Mono Object: Here is code from TimedInterceptor:

                            if (context.getReturnType().isSingleResult()) {
                                Mono<?> single = Publishers.convertPublisher(interceptResult, **Mono.class**);
                                result = single.doOnSubscribe(d ->

[2022-01-03 08:24] umutkocasarac commented on #288
It is possible to add percentile to the HTTP server metrics like below. If you think adding this MeterFilter to the micronaut-micrometer project is valuable then I can create PR for it.

`@Factory
public class MeterFilterFactory {

    @Bean
    @Singleton
    MeterFilter createDistributionMeterFilter() {
        return new MeterFilter() {
            @Override
            public DistributionStati

[2022-01-03 08:47] graemerocher commented on #288
PRs welcome

[2022-01-03 09:12] graemerocher commented on #337
You need to add `micronaut-rxjava2` dependency to your classpath. See https://micronaut-projects.github.io/micronaut-rxjava2/latest/guide/

[2022-01-03 09:25] rys-gw-wal commented on #337
there is dependency in  my my build.gradle file:
**implementation("io.micronaut.rxjava2:micronaut-rxjava2")**

[2022-01-04 09:57] cohenor commented on #257
Hey, would be glad to know if there's any progress on this issue please 🙏
I'm experiencing the same behavior with Micronaut `3.2.3` and JDK `GraalVM CE 21.3.0 (Java 17.0.1)`.
@brianwyka Were you able to work around this somehow?

Thanks.

[2022-01-04 10:30] brianwyka commented on #257
Sorry @cohenor, I have not tried this since the failure, nor have I worked on a workaround.

[2022-01-04 11:32] cohenor commented on #257
Gotcha, thanks for your response.

[2022-01-04 11:35] graemerocher commented on #257
The issue is that by shading Netty all of the GraalVM native config has to be re-applied to the native version. A feature would need to be added like this one https://github.com/micronaut-projects/micronaut-core/blob/1a15f0b5aba53da56f8915fc904ae4b7512e6f15/http-netty/src/main/java/io/micronaut/http/netty/graal/HttpNettyFeature.java and

[2022-01-13 15:52] rys-gw-wal commented on #337
there is dependency in my my build.gradle file:
implementation("io.micronaut.rxjava2:micronaut-rxjava2")
and
Exception  java.lang.ClassCastException: class io.reactivex.internal.operators.single.SingleToFlowable cannot be cast to class reactor.core.publisher.Mono (io.reactivex.internal.operators.single.SingleToFlowable and reactor.core.publisher.Mono are in unnamed module of loader 'app') is still

[2022-01-13 15:59] graemerocher commented on #337
Can you provide an example with steps to reproduce?

[2022-01-14 13:03] arthemus commented on #280
I am in same situation here, I would like to exclude for example threaddump and others not necessary for my application.

[2022-01-17 11:24] graemerocher commented on #280
only way currently appears to be to set `micronaut.metrics.http.path` https://github.com/micronaut-projects/micronaut-micrometer/blob/02ceec4210fa5c7065943791551f68e0cd8dfa4f/micrometer-core/src/main/java/io/micronaut/configuration/metrics/binder/web/ServerRequestMeterRegistryFilter.java#L44

Otherwise a PR would be needed to this type to allow configuring which URIs are included/excluded

[2022-01-20 15:31] gerbil14 commented on #337
Sorry for a late replay, an example application is attached
[5naut-5meter-rx.tar.gz](https://github.com/micronaut-projects/micronaut-micrometer/files/7906455/5naut-5meter-rx.tar.gz)

[2022-02-02 16:21] williampowellTW opened #345 "Meter filters are applied once per registry, resulting in duplication"
### Expected Behavior

When using a meter filter to transform a meter ID, the transformation should only apply once.

### Actual Behaviour

The transformation is applied once per registry. For example if you have a meter filter to apply a prefix to your meter ID and you have two registries, then the prefix is applied two times. For example the following code:

[code]

When you use two registries t

[2022-02-18 22:44] rogerpereira123 commented on #337
I am experiencing similar behavior with RxJava3 as well. Here is an example application
Repo: https://github.com/rogerpereira123/micronaut-micrometer-rxjava3
[App.ket](https://github.com/rogerpereira123/micronaut-micrometer-rxjava3/blob/main/app/src/main/kotlin/mn/micrometer/rxjava3/App.kt)
[Test](https://github.com/rogerpereira123/micronaut-micrometer-rxjava3/blob/main/app/src/test/kotlin/mn/micr

[2022-02-26 07:26] lind opened #356 "Serialization exception for Metrics endpoint"
### Expected Behavior

Using micronaut-management and the `/metrics` endpoint should work with [micronaut-serialization](https://github.com/micronaut-projects/micronaut-serialization)

Result using `micronaut-jackson-databind`
[code]

### Actual Behaviour

The metrics endpoint result in
`Caused by: io.micronaut.core.beans.exceptions.IntrospectionException: No serializable introspection present for

[2022-03-07 13:37] graemerocher commented on #356
@n0tl3ss when you have cycles looks at this one please? Support for Serialization is needed in the Micrometer module

[2022-03-09 12:22] #356 closed

[2022-03-10 09:15] graemerocher commented on #337
@n0tl3ss another one for you to take a look at related to the previous problem

[2022-03-10 09:21] #288 closed

[2022-03-10 09:23] graemerocher commented on #310
@n0tl3ss another one to look at

[2022-03-10 09:23] graemerocher commented on #281
@n0tl3ss please take a look

[2022-03-11 11:03] #337 closed

[2022-03-11 14:16] n0tl3ss commented on #281
Hi @cemo I cannot reproduce by creating the demo micronaut app and adding metrics with configuration that you provided. Can you provide me a demo project please? Thanks

[2022-03-21 11:09] #310 closed

[2022-04-08 20:46] Xicks opened #377 "Meter Binder for R2DBC Pool"
### Feature description

Hello,
I would like to have metrics from R2DBC pool published automatically to monitor my application, as it is available for JDBC connections.

I opened a PR for this feature https://github.com/micronaut-projects/micronaut-micrometer/pull/384.

[2022-04-10 21:36] cemo opened #378 "Ignore 4xx urls for http.xxx.requests metrics"
### Feature description

Security scanner tools creates extreme amount of different urls and these are mostly 404s or 401s on our end. The problem is that this is creating a high cardinality metrics and causing extreme cost on our side. We would like to name them as a  Unauthorized and Client Error.

https://github.com/micronaut-projects/micronaut-micrometer/blob/a8b932bcf99e5c8f6b0801891b99d11c54

[2022-05-02 10:42] renovate[bot] opened #388 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update dependency io.micronaut.serde:micronaut-serde-jackson to v1.0.1
 - [ ] chore(deps): update dependency org.codehaus.groovy:gr

[2022-05-10 17:25] Robin479 opened #397 "Runaway HTTP-Metrics due to use of unsafe user-input or crafted URIs as metric labels"
### Expected Behavior

When running a Micronaut application with CORS and Micrometer metrics enabled, the user-input URI (especially during CORS preflights) is **NOT** used as the fallback for the "uri" label of the `http.server.request` metric in cases where the target endpoint and its URI-template cannot be determined.

In general, the incoming URI should never be used as the `uri` label on the

[2022-05-11 12:39] graemerocher commented on #397
@n0tl3ss one for you to take a look at

[2022-05-13 15:27] n0tl3ss commented on #397
HI @Robin479 As you saw there were some changes. If you want to test it by yourself you need to clone `micronaut-core` and then you can build it by running the ` ./gradlew publishToMavenLocal` after that you can use the SNAPSHOT version locally. About the CORS preflights I am not sure should we return 404 when the route doesn't exists, now it returns the status 200. Because we can't match to any r

[2022-05-18 16:45] Robin479 commented on #397
@n0tl3ss The number of distinct values for the "uri" label on the two metrics in question (as well as the "host" label on the client metric in certain scenarios) can grow uncontrollably, because they effectively entail dynamic input. This doesn't scale. This is at least a memory leak and a security issue, because these label values – once initialized – will stay present in the Prometheus scraping

[2022-05-23 10:24] graemerocher commented on #397
hi @Robin479 I can understand your perspective, I guess our caution here is around breaking existing applications. What Micronaut is doing is not terribly different to what other frameworks do. For example Spring uses https://github.com/spring-projects/spring-boot/blob/68bd9d6b6d38631d1d748c087e522439e9e867f0/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/m

[2022-05-25 15:45] #377 closed

[2022-05-31 10:33] mitchnull commented on #62
This fix strips any previous instrumentations.  I don't think that was intentional.  As far as I can see here you should return the original bean (`executorService`) instead of the unwrapped netty bean (in `ExecutionServiceMetricsBinder.onCreate`):
[code]
With the current code, if we try to instrument a netty `EventLoopGroup` then we run into 2 failure scenarios:
1) the above code strips our own i

[2022-05-31 10:50] mitchnull opened #405 "ExecutionServiceMetricsBinder strips unrelated instrumentations from `io.netty` classes"
### Expected Behavior

 ExecutionServiceMetricsBinder does not remove any previously added instrumentations.

### Actual Behaviour

The fix in #62 introduced a bug where any previous instrumentations on io.netty objects (like EventLoopGroup) get removed.

As far as I can see here you should return the original bean (`executorService`) instead of the unwrapped netty bean (in `ExecutionServiceMetric

[2022-05-31 12:05] graemerocher commented on #405
The solution would be to create an `InstrumentedEventLoopGroup` type and add a `BeanCreatedEventListener< EventLoopGroup>`. The problem with the previous code is it alters the bean type resulting on other downstream problems.

[2022-06-02 14:53] dstepanov opened #407 "Class not found exception for R2DBC integration `R2dbcPoolMetricsBinderFactory` when the pool dependency is not on classpath"
### Expected Behavior

Not failing

### Actual Behaviour

Is failing

### Steps To Reproduce

Add Micronaut Micrometer with R2DBC without r2dbc pool

### Environment Information

_No response_

### Example Application

_No response_

### Version

Micronaut BOM 3.5.0

[2022-06-02 15:15] graemerocher commented on #189
@n0tl3ss related issue to the previous one

[2022-06-10 09:39] HelloTo4x opened #411 "about micrometer"
### Feature description

Hi, i am reading your project, why do you use Micrometer for collecting metric ? why don't you use Grafana + Prometheus to collect log and metric ? Do you know about pros and cons of Micrometer, can you tell me about it

[2022-06-10 10:39] alvarosanchez commented on #411
Please post questions in [StackOverflow](https://stackoverflow.com/questions/tagged/micronaut).

You can also try with asking in [Gitter](https://gitter.im/micronautfw/).

[2022-06-10 10:39] #411 closed

[2022-06-30 08:33] roehrijn opened #417 "Race condition at order of MeterRegistryConfigurer(s) being applied"
### Expected Behavior

In the case I configure `micronaut.metrics.tags.*` I expect those tags being added to ervery Micrometer meter being created.

### Actual Behaviour

In some cases the meters created by `io.micronaut.configuration.metrics.aggregator.CompositeMeterRegistryConfigurer#addBinders` are not having those common tags. This is because the execution order of `io.micronaut.configuration.

[2022-06-30 08:35] roehrijn commented on #417
In case you guys agree that this is a problem, I would be eager to help on fixing this but I'm not sure about a good solution for this.

[2022-06-30 08:37] roehrijn commented on #417
Just as background information: I've stumbled over this issue while implementing a `MeterRegistry` implementation for the Prometheus Remote_Write protocol which I want to use for monitoring Java batch jobs based on Micronaut.

[2022-06-30 08:58] capricube commented on #417
👍

[2022-07-21 04:39] sumitaneja opened #421 "Metrics for client event loops"
### Feature description

We configure separate event loops for clients. Any suggestion on how we can get metrics on number of pending tasks /in use threads for client loop.

Something similar to metrics for executor pool (like below). Is something similar available for client workers or can be provided?

executor_queued_tasks{name="io",} 0.0
executor_queued_tasks{name="scheduled",} 1.0

executor_p

[2022-07-22 11:36] Ishant14 opened #422 "OutofMemory Error while allocating byte buffer array"
### Expected Behavior

_No response_

### Actual Behaviour

Getting the OutOfMemoryError in event loop thread as below, while creating allocating the memory to byte buffer array.

Error Logs :

[code]
<img width="1146" alt="Screenshot 2022-07-22 at 4 10 55 PM" src="https://user-images.githubusercontent.com/5058363/180430593-64ec5952-8655-4130-bd8e-0af96030d3c6.png">

Out total allocated heap size

[2022-07-26 15:46] orkunozbek-gopuff opened #424 "Request Scope Object Memory Leak starting Micronaut 3.5.0"
### Expected Behavior

Objects annotated with `@RequestScope` should not left in heap when the request is completed. `

### Actual Behaviour

`RequestScope` Objects can not be collected from heap when all the traffic is handled by the server (even after full gc)
<img width="1076" alt="Screen Shot 2022-07-26 at 18 39 09" src="https://user-images.githubusercontent.com/82052027/181049661-b2d2708f-e07

[2022-07-26 15:48] graemerocher commented on #424
@dstepanov can you have a look?

[2022-07-27 10:15] orkunozbek-gopuff commented on #424
@graemerocher @dstepanov I accidentally opened this under micrometer project, here is the [link](https://github.com/micronaut-projects/micronaut-core/issues/7748) for micronaut core projecdt

[2022-07-27 14:17] #424 closed

[2022-08-18 16:06] gagarin-it opened #436 "Micrometer registry prometheus not record an exception to metrics"
### Expected Behavior

## HELP http_server_requests_seconds
http_server_requests_seconds_count{exception="ConversionErrorException",method="POST",status="400",uri="root",} 2.0
http_server_requests_seconds_sum{exception="ConversionErrorException",method="POST",status="400",uri="root",} 0.055199125
http_server_requests_seconds_count{exception="ClassCastException",method="POST",status="500",uri="root

[2022-08-19 05:16] TimothyL96 opened #437 "netty documentation outdated"
### Issue description

In https://github.com/micronaut-projects/micronaut-micrometer/blob/master/src/main/docs/guide/metricsConcepts.adoc

It says

which is not true, as it is only controlled by 3 subproperties:
netty.bytebuf-allocators.enabled
netty.queues.enabled
netty.channels.enabled

[2022-08-19 06:01] sdelamo commented on #437
@yawkat could you check this?

[2022-08-19 20:08] ttimt96 opened #439 "CompositeMeterRegistry configured repeatedly"
### Issue description

Not sure if it's intended, but the composite registry is repeatedly reconfigured.

In the MeterRegistryFactory:
[code]
Assuming we only have the default CompositeMeterRegistryConfigurer, and have multiple registries like NewRelic and Prometheus, iterating them in the outer loop above will also call the default composite configurer in every registry iteration.

The configurer

[2022-08-31 19:42] AlarkaSanyal commented on #417
We faced this issue as well while using `Meter Registry Configurer`. For us, however, using the `Meter Filter` seems to have solved the issue.

[2022-09-01 10:22] #437 closed

[2022-10-19 22:28] joelezellLP opened #458 "@ServerWebsocket annotation results in too many metrics and out of memory conditions"
### Steps to Reproduce

1. Create a class with an annotation similar to this: @ServerWebSocket("/media/v1/conversation/{conversationId}/websocket") and appropriately annotated @OnOpen and @OnMessage methods.
2. Open websockets to this service with different values for conversationId
3. Check the metrics scrape endpoint.

### Expected Behaviour
I think that duration of websocket sessions doesn't ma

[2022-11-14 11:59] jakobmagiera opened #467 "Missing client metrics for web metrics for request without response body"

[2022-11-16 15:44] jjathman opened #466 "Stackdriver: Allow Project ID to be Inferred"
### Feature description

It would be nice if `stackdriver.projectId` was not required similar to how it is not required for the `micrometer-gcp` libraries. This is especially helpful for local development where people have logged in through the CLI but is also useful in deployed environments. I didn't see any automated way that this could be done without writing some code.

[2022-11-18 15:20] yawkat commented on #467
actually, I changed my mind, this is a core issue after all :)